assests/icons/activity.svg
assests/icons/airplay.svg
assests/icons/alert-circle.svg
assests/icons/alert-octagon.svg
assests/icons/alert-triangle.svg
assests/icons/align-center.svg
assests/icons/align-justify.svg
assests/icons/align-left.svg
assests/icons/align-right.svg
assests/icons/anchor.svg
assests/icons/aperture.svg
assests/icons/archive.svg
assests/icons/arrow-down-circle.svg
assests/icons/arrow-down-left.svg
assests/icons/arrow-down-right.svg
assests/icons/arrow-down.svg
assests/icons/arrow-left-circle.svg
assests/icons/arrow-left.svg
assests/icons/arrow-right-circle.svg
assests/icons/arrow-right.svg
assests/icons/arrow-up-circle.svg
assests/icons/arrow-up-left.svg
assests/icons/arrow-up-right.svg
assests/icons/arrow-up.svg
assests/icons/at-sign.svg
assests/icons/award.svg
assests/icons/bar-chart-2.svg
assests/icons/bar-chart.svg
assests/icons/battery-charging.svg
assests/icons/battery.svg
assests/icons/bell-off.svg
assests/icons/bell.svg
assests/icons/bluetooth.svg
assests/icons/bold.svg
assests/icons/book-open.svg
assests/icons/book.svg
assests/icons/bookmark.svg
assests/icons/box.svg
assests/icons/briefcase.svg
assests/icons/calendar.svg
assests/icons/camera-off.svg
assests/icons/camera.svg
assests/icons/cast.svg
assests/icons/check-circle.svg
assests/icons/check-square.svg
assests/icons/check.svg
assests/icons/chevron-down.svg
assests/icons/chevron-left.svg
assests/icons/chevron-right.svg
assests/icons/chevron-up.svg
assests/icons/chevrons-down.svg
assests/icons/chevrons-left.svg
assests/icons/chevrons-right.svg
assests/icons/chevrons-up.svg
assests/icons/chrome.svg
assests/icons/circle.svg
assests/icons/clipboard.svg
assests/icons/clock.svg
assests/icons/cloud-drizzle.svg
assests/icons/cloud-lightning.svg
assests/icons/cloud-off.svg
assests/icons/cloud-rain.svg
assests/icons/cloud-snow.svg
assests/icons/cloud.svg
assests/icons/code.svg
assests/icons/codepen.svg
assests/icons/codesandbox.svg
assests/icons/coffee.svg
assests/icons/columns.svg
assests/icons/command.svg
assests/icons/compass.svg
assests/icons/copy.svg
assests/icons/corner-down-left.svg
assests/icons/corner-down-right.svg
assests/icons/corner-left-down.svg
assests/icons/corner-left-up.svg
assests/icons/corner-right-down.svg
assests/icons/corner-right-up.svg
assests/icons/corner-up-left.svg
assests/icons/corner-up-right.svg
assests/icons/cpu.svg
assests/icons/credit-card.svg
assests/icons/crop.svg
assests/icons/crosshair.svg
assests/icons/database.svg
assests/icons/delete.svg
assests/icons/disc.svg
assests/icons/divide-circle.svg
assests/icons/divide-square.svg
assests/icons/divide.svg
assests/icons/dollar-sign.svg
assests/icons/download-cloud.svg
assests/icons/download.svg
assests/icons/dribbble.svg
assests/icons/droplet.svg
assests/icons/edit-2.svg
assests/icons/edit-3.svg
assests/icons/edit.svg
assests/icons/external-link.svg
assests/icons/eye-off.svg
assests/icons/eye.svg
assests/icons/facebook.svg
assests/icons/fast-forward.svg
assests/icons/feather.svg
assests/icons/figma.svg
assests/icons/file-minus.svg
assests/icons/file-plus.svg
assests/icons/file-text.svg
assests/icons/file.svg
assests/icons/film.svg
assests/icons/filter.svg
assests/icons/flag.svg
assests/icons/folder-minus.svg
assests/icons/folder-plus.svg
assests/icons/folder.svg
assests/icons/framer.svg
assests/icons/frown.svg
assests/icons/gift.svg
assests/icons/git-branch.svg
assests/icons/git-commit.svg
assests/icons/git-merge.svg
assests/icons/git-pull-request.svg
assests/icons/github.svg
assests/icons/gitlab.svg
assests/icons/globe.svg
assests/icons/grid.svg
assests/icons/hard-drive.svg
assests/icons/hash.svg
assests/icons/headphones.svg
assests/icons/heart.svg
assests/icons/help-circle.svg
assests/icons/hexagon.svg
assests/icons/home.svg
assests/icons/image.svg
assests/icons/inbox.svg
assests/icons/info.svg
assests/icons/instagram.svg
assests/icons/italic.svg
assests/icons/key.svg
assests/icons/layers.svg
assests/icons/layout.svg
assests/icons/life-buoy.svg
assests/icons/link-2.svg
assests/icons/link.svg
assests/icons/linkedin.svg
assests/icons/list.svg
assests/icons/loader.svg
assests/icons/lock.svg
assests/icons/log-in.svg
assests/icons/log-out.svg
assests/icons/mail.svg
assests/icons/map-pin.svg
assests/icons/map.svg
assests/icons/maximize-2.svg
assests/icons/maximize.svg
assests/icons/meh.svg
assests/icons/menu.svg
assests/icons/message-circle.svg
assests/icons/message-square.svg
assests/icons/mic-off.svg
assests/icons/mic.svg
assests/icons/minimize-2.svg
assests/icons/minimize.svg
assests/icons/minus-circle.svg
assests/icons/minus-square.svg
assests/icons/minus.svg
assests/icons/monitor.svg
assests/icons/moon.svg
assests/icons/more-horizontal.svg
assests/icons/more-vertical.svg
assests/icons/mouse-pointer.svg
assests/icons/move.svg
assests/icons/music.svg
assests/icons/navigation-2.svg
assests/icons/navigation.svg
assests/icons/octagon.svg
assests/icons/package.svg
assests/icons/paperclip.svg
assests/icons/pause-circle.svg
assests/icons/pause.svg
assests/icons/pen-tool.svg
assests/icons/percent.svg
assests/icons/phone-call.svg
assests/icons/phone-forwarded.svg
assests/icons/phone-incoming.svg
assests/icons/phone-missed.svg
assests/icons/phone-off.svg
assests/icons/phone-outgoing.svg
assests/icons/phone.svg
assests/icons/pie-chart.svg
assests/icons/play-circle.svg
assests/icons/play.svg
assests/icons/plus-circle.svg
assests/icons/plus-square.svg
assests/icons/plus.svg
assests/icons/pocket.svg
assests/icons/power.svg
assests/icons/printer.svg
assests/icons/radio.svg
assests/icons/refresh-ccw.svg
assests/icons/refresh-cw.svg
assests/icons/repeat.svg
assests/icons/rewind.svg
assests/icons/rotate-ccw.svg
assests/icons/rotate-cw.svg
assests/icons/rss.svg
assests/icons/save.svg
assests/icons/scissors.svg
assests/icons/search.svg
assests/icons/send.svg
assests/icons/server.svg
assests/icons/settings.svg
assests/icons/share-2.svg
assests/icons/share.svg
assests/icons/shield-off.svg
assests/icons/shield.svg
assests/icons/shopping-bag.svg
assests/icons/shopping-cart.svg
assests/icons/shuffle.svg
assests/icons/sidebar.svg
assests/icons/skip-back.svg
assests/icons/skip-forward.svg
assests/icons/slack.svg
assests/icons/slash.svg
assests/icons/sliders.svg
assests/icons/smartphone.svg
assests/icons/smile.svg
assests/icons/speaker.svg
assests/icons/square.svg
assests/icons/star.svg
assests/icons/stop-circle.svg
assests/icons/sun.svg
assests/icons/sunrise.svg
assests/icons/sunset.svg
assests/icons/tablet.svg
assests/icons/tag.svg
assests/icons/target.svg
assests/icons/terminal.svg
assests/icons/thermometer.svg
assests/icons/thumbs-down.svg
assests/icons/thumbs-up.svg
assests/icons/toggle-left.svg
assests/icons/toggle-right.svg
assests/icons/tool.svg
assests/icons/trash-2.svg
assests/icons/trash.svg
assests/icons/trello.svg
assests/icons/trending-down.svg
assests/icons/trending-up.svg
assests/icons/triangle.svg
assests/icons/truck.svg
assests/icons/tv.svg
assests/icons/twitch.svg
assests/icons/twitter.svg
assests/icons/type.svg
assests/icons/umbrella.svg
assests/icons/underline.svg
assests/icons/unlock.svg
assests/icons/upload-cloud.svg
assests/icons/upload.svg
assests/icons/user-check.svg
assests/icons/user-minus.svg
assests/icons/user-plus.svg
assests/icons/user-x.svg
assests/icons/user.svg
assests/icons/users.svg
assests/icons/video-off.svg
assests/icons/video.svg
assests/icons/voicemail.svg
assests/icons/volume-1.svg
assests/icons/volume-2.svg
assests/icons/volume-x.svg
assests/icons/volume.svg
assests/icons/watch.svg
assests/icons/wifi-off.svg
assests/icons/wifi.svg
assests/icons/wind.svg
assests/icons/x-circle.svg
assests/icons/x-octagon.svg
assests/icons/x-square.svg
assests/icons/x.svg
assests/icons/youtube.svg
assests/icons/zap-off.svg
assests/icons/zap.svg
assests/icons/zoom-in.svg
assests/icons/zoom-out.svg

.qt_for_python/uic/__pycache__/*.pyc
.qt_for_python/uic/__pycache__/*
